<div class="pure-g">
    <div class="pure-u-1-5" data-region="truckInfo">
        <h2>Trucks</h2>
        <p>options, details of routes and trucks could be shown here.</p>
    </div>
    <div class="pure-u-4-5" data-region="map">
    </div>
</div>



