<h1>{{ _id }}</h1>
<a class="pure-button" href="#start" id="startSim">start</a>
<a class="pure-button" href="#stop" id="stopSim">stop</a>

<p>{{ description }}</p>

<h2>Trucks</h2>
<div data-region="truckList">

</div>

<h2>Traffic</h2>
<div data-region="trafficList">

</div>

<h2>Map</h2>
<a class="pure-button" href="#simulations/{{ _id }}/trucks/map">show trucks on map</a>