<h1>{{ _id }}</h1>
{{#if isRunning}}
<a class="pure-button" href="#stop" id="stopSim">stop</a>
{{else}}
<a class="pure-button" href="#start" id="startSim">start</a>
{{/if}}
<p>{{ description }}</p>

<h2>Trucks</h2>
<div data-region="truckList">

</div>

<h2>Traffic</h2>
<div data-region="trafficList"></div>

<h2>Routes</h2>
<div data-region="routeList"></div>

<h2>Map</h2>
<a class="pure-button" href="#simulations/{{ _id }}/trucks/map">show trucks on map</a>